[REDIS]
REDIS_SERVER = aivpn_mod_redis
REDIS_COMM_RECV_CHECK = mod_comm_recv_check
REDIS_COMM_SEND_CHECK = mod_comm_send_check
REDIS_REPORT_CHECK = mod_report_check
REDIS_TRAFFIC_CAPTURE_CHECK = mod_traffic_capture_check
REDIS_OPENVPN_CHECK = mod_openvpn_check
REDIS_MANAGER_CHECK = services_status
REDIS_MODULES = ['mod_comm_recv_check','mod_comm_send_check','mod_report_check','mod_traffic_capture_check','mod_openvpn_check']

[LOGS]
LOG_COMM_RECV = /logs/mod_comm_recv.log
LOG_COMM_SEND = /logs/mod_comm_send.log
LOG_MANAGER = /logs/mod_manager.log
LOG_REPORT = /logs/mod_report.log
LOG_TRAFFIC_CAPTURE = /logs/mod_traffic_capture.log
LOG_OPENVPN = /logs/mod_openvpn.log

[IMAP]
SERVER = imap.example-server.com
USERNAME = example@example-server.com
PASSWORD = addheretheaccountpassword

[STORAGE]
PATH = /data
SWARM_CONF_FILE = /code/common/swarm_modules.py

[OPENVPN]
SERVER_PUBLIC_URL = udp://example-server.com
PKI_ADDRESS = vpn.example-server.com
CERTIFICATES = /data/certs
