[REDIS]
REDIS_SERVER = aivpn_mod_redis_1
REDIS_COMM_RECV_CHECK = mod_comm_recv_check
REDIS_COMM_SEND_CHECK = mod_comm_send_check
REDIS_REPORT_CHECK = mod_report_check
REDIS_OPENVPN_CHECK = mod_openvpn_check
REDIS_SLIPS_CHECK = mod_slips_check
REDIS_MANAGER_CHECK = services_status
REDIS_MODULES = ["mod_comm_recv_check","mod_comm_send_check","mod_report_check","mod_openvpn_check","mod_slips_check"]

[LOGS]
LOG_COMM_RECV = /logs/mod_comm_recv.log
LOG_COMM_SEND = /logs/mod_comm_send.log
LOG_MANAGER = /logs/mod_manager.log
LOG_REPORT = /logs/mod_report.log
LOG_OPENVPN = /logs/mod_openvpn.log
LOG_SLIPS = /logs/mod_slips.log

[STORAGE]
PATH = /data

[IMAP]
SERVER = imap.example-server.com
USERNAME = example@example-server.com
PASSWORD = addheretheaccountpassword

[TELEGRAM]
TELEGRAM_BOT_NAME = telegram_bot
TELEGRAM_BOT_TOKEN = telegram_bot_token
TELEGRAM_START_MSG = Welcome to the Civilsphere Emergency VPN service.


                     Use one of the following commands to obtain a VPN profile:

                     /getopenvpn to receive a new OpenVPN profile

                     /getwireguard to receive a new WireGuard profile.
TELEGRAM_WAIT_MSG = Thank you for your request. Your VPN profile is being generated and activated. Please wait.

[OPENVPN]
SERVER_PUBLIC_URL = udp://example-server.com
PKI_ADDRESS = vpn.example-server.com
NETWORK_CIDR = 192.168.255.0/24

[NOVPN]
SERVER_PUBLIC_URL = udp://example-server.com
PKI_ADDRESS = vpn.example-server.com
NETWORK_CIDR = 192.168.255.0/24

[AIVPN]
EXPIRATION_THRESHOLD = 72
ACTIVE_ACCOUNT_LIMIT = 5
CHECK_STATUS_TIME = 30
CHECK_EXPIRED_TIME = 60
MESSAGE_SUBJECT_PREFIX = [Civilsphere AI VPN]
MESSAGE_NEW_PROFILE = Please find attached your new VPN profile.
MESSAGE_REPORT = Please find attached the report with the automatic analysis of the network traffic in this session.
MESSAGE_EXPIRED_PROFILE = Your AI VPN profile has expired. A report on the captured traffic is being generated and will be sent in a separate email.
MESSAGE_REPORT_EMPTY = Dear user, there was no traffic captured in this session. This could be because (i) the profile was not used, (ii) the device did not connect to the VPN. Please try again.
MESSAGE_MAX_LIMIT = You have reached the maximum number of active profiles per account. Try again after your active profiles have expired.
MESSAGE_FULL_CAPACITY = Our service is at full capacity at the moment. Please try again in 24hs.
